.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 }
 
 .login-container h1 {
  text-align: center;
  margin-bottom: 20px;
 }
 
 .login-container button {
  width: 100%;
  margin-top: 10px;
 }
 
 .login-container .ant-btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;
 }
 
 .login-container .ant-btn-primary:hover,
 .login-container .ant-btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
 }